/* Estilo para o cabeçalho */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.slogan {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Tomate */
}


/* Seção de Pesquisa */
.search-section {
    background: #fff;
    padding: 15px;
    max-width: 25%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
    border-radius: 15px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.search-form {
    display: flex;
    justify-content: center;
    
}

.search-form input[type="search"] {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-form button {
    padding: 0.5rem;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form button:hover {
    background: #555;
}


/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    display: inline;
    margin: 0 15px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff6347; /* Tomate */
}
