body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
main {
    padding: 2rem;
}
.profile {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.profile img {
    max-width: 350px;
    height: auto;
    border-radius: 5px;
}
.profile h2 {
    margin-top: 0;
}
.profile p {
    margin: 0.5rem 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
