<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prof. Diego Eugenio Fernandes Pereira</title>
    <link rel="stylesheet" href="{% static 'poesias/css/prof.css' %}">
</head>
<body>
    <header>
        <h1>Prof. Diego Eugenio Fernandes Pereira</h1>
    </header>
    <main>
        <section class="profile">
            <h2>Sobre o Professor</h2>
            <img src="{% static 'poesias/images/foto1.jpeg' %}" alt="Foto do Prof. Diego Eugenio Fernandes Pereira">
            <p>Mestre em Ciência da computação pela Universidade Federal de Itajuba (UNIFEI), Formado em Sistemas de Informação pela Universidade Federal de Lavras (UFLA) e Bussiness Information Systems pela Middlesex University London.</p>
        </section>
        <section class="profile">
            <h2>Bem vindo a minha página FEPI prof. Diego Pereira</h2>
            <img src="{% static 'poesias/images/foto2.jpg' %}" alt="Imagem de uma conquista do Prof. Diego">
            
        </section>
    </main>
    <footer>
        <p>© 2024 Prof. Diego Eugenio Fernandes Pereira</p>
    </footer>
</body>
</html>
