<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'poesias/css/header.css' %}">
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <p>&copy; 2023 Poesias Incríveis. Todos os direitos reservados.</p>
            </div>
            <div class="footer-section">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/poema_detail">Poemas</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <p>Contato: contato@poesiasincriveis.com.br</p>
            </div>
        </div>
    </footer>
</body>
</html>
